<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
        <nav class="teal">
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">exercises</a>
          </div>
        </nav>
        
      <div class="row">
        <table class="col m6 offset-m3">
          <!-- Add jinja templateing to show exercises -->
        </table>
      </div>
  </body>
</html>
